<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pxkw.mediamutefrog"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/frog_off"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver
            android:name="pxkw.mediamutefrog.MediaMuteFrogWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>

        <service
             android:name="MediaMuteFrogService"
             android:permission="android.permission.MODIFY_AUDIO_SETTINGS" >
            <intent-filter >
                <action android:name="pxkw.mediamutefrog.intent.ACTION_WIDGET_TOUCH"/>
                <action android:name="pxkw.mediamutefrog.intent.ACTION_WIDGET_CHECK"/>
            </intent-filter>
        </service>
        
    </application>


</manifest>